@{
    ViewData["Title"] = "Home Page";
	ViewData["BodyClass"] = "home-body";
}

<div class="text-center">
    <h1 class="display-4 highlighter fw-bold">Üdvözöllek!</h1>
    <p class="fw-bold text-white text-decoration-underline">A navbárral tudsz váltani a menüpontok között.</p>
</div>
