@{
    ViewData["Title"] = "Sportolo";
}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

<h2>A sportolók:</h2>

<div class="container">
    <div class="row">
        @foreach (Sportolo sportolo in Model)
        {
            <div class="col">
                <div class="card" style="width: 18rem;">
                    @{
                        string imgSrc = null;
                        if (sportolo.Photo != null && sportolo.Photo.Length > 0)
                        {
                            var mime = "image/jpeg";
                            var base64 = Convert.ToBase64String(sportolo.Photo);
                            imgSrc = $"data:{mime};base64,{base64}";
                        }
                    }
                    <img src="@(imgSrc ?? Url.Content("~/images/placeholder.jpg"))" class="card-img-top" alt="sportoló képe">
                    <div class="card-body">
                        <h5 class="card-title">@sportolo.Name</h5>
                        <p class="card-text">
                            Születési éve: @sportolo.DateOfBirth.ToString("yyyy-MM-dd") <br>
                            Versenyszámai: @sportolo.CompetitionNumbers
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>